.hint__item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;

  box-shadow: 6px 6px 10px 0 rgba(0, 119, 255, 0.3),
        -4px -4px 6px 0 rgba(255, 255, 255, 0.4);
  color: white #0077ff;
  padding: 15px 20px;
  font-size: 1vw / 1;
}

// Modifiers

.hint__item {

  &.active-by-scroller {
    &:active {
      background-color: #ffffff;
      color: #0077ff;
      box-shadow: 6px 6px 10px 0 rgba(0, 119, 255, 0.3) inset,
                  -4px -4px 6px 0  rgba(255, 255, 255, 0.4) inset;
    }
  }

}