body {
    color: white;
    text-align: center;

    background-color: black;
}
input, button, label {
    font-size: 4.5em;
    font-family: "Chiller", sans-serif;
    font-weight: bold;
}
input {
    width: 1.6em;
    height: 1.1em;

    padding-left: 5px;

    border: .065em solid darkred;
    border-radius: 30px;

    text-align: center;
}
input:focus, button:active, button:focus {
    outline: none;
}
button {
    margin-top: .8em;

    color: white;

    background-color: transparent;

    border: none;
}
label {
    width: 4em;

    line-height: 1.5em;
}
p {
    font-family: "Chiller", sans-serif;
}

.menu {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu_dark, .container_dark {
    opacity: .4;
    z-index: -2;
}
.menu__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.text {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: -1;
}
.text__main, .text__additional {
    font-weight: bold;
    color: #d40b0b;
}
.text__main {
    font-size: 22em;
    text-shadow: 5px 5px 8px white;

    vertical-align: center;
}
.text__additional {
    font-size: 5em;
    text-shadow: 2px 2px 5px white;
}
.text__main_animated, .text__additional_animated {
    animation: wavedOpacity 3s;
}
.container {
    width: 80%;
    height: 80%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.field {
    display: inline-block;

    margin-bottom: -2px;
    margin-left: 2px;

    border: 2px solid darkred;
    border-radius: 10%;

    background: navajowhite;
}
.bomb {
    background: navajowhite no-repeat center url("./images/virus.png");
    background-size: 0;
}
.empty {
    background: navajowhite;
}
.flag {
    background: white no-repeat center url("./images/flag.png") !important;
    background-size: 70% !important;
}

@keyframes wavedOpacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 1700px) {
    input, button, label {
        font-size: 5em;
    }

    .text__main {
        font-size: 13em;
    }
    .text__additional {
        font-size: 4em;
    }
}

@media screen and (max-width: 1440px) {
    .text__main {
        font-size: 10em;
    }
    .text__additional {
        font-size: 4em;
    }
}

@media screen and (max-width: 1200px) {
    input, button, label {
        font-size: 3em;
    }

    .text__main {
        font-size: 10em;
    }
    .text__additional {
        font-size: 4em;
    }
}

@media screen and (max-width: 991px) {
    .text__main {
        font-size: 7em;
    }
    .text__additional {
        font-size: 2em;
    }
}

@media screen and (max-width: 575px) {
    input, button, label {
        font-size: 2.5em;
    }
    .text__main {
        font-size: 4em;
    }
    .text__additional {
        font-size: 1em;
    }
}

@media screen and (max-width: 320px) {
    input, button, label {
        font-size: 2em;
    }
    .text__main {
        font-size: 2.8em;
    }
    .text__additional {
        font-size: .5em;
    }
}