.container {
  position: relative;

  width: 100%;
  //max-width: 960px;
  margin: $_ auto;
  padding: $_ 30px;

 /* @include _media('>=medium') {
    width: 80%;
  }

  @include _media('>=small') {
    width: 90%;
  }*/
}