.footer {
  @include setFlex(row);

  position: fixed;
  bottom: 0;

  width: 100%;
  height: 8.9vh;

  > button {
    padding: 0;

    @include setFont("Open Sans", 25px, #fff, $lineHeight: 34px, $textTransform: uppercase);
  }
}

// твої стилі
/*.footer {
  display: flex;
  height: 70px;

  font-weight: normal;
  font-size: 25px / 0;
  vertical-align: middle;
  text-transform: uppercase;
  color: #FFFFFF var(--footer-bg-color);
}

.footer__home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;

  background-color: var(--black-color);
}

.footer__back {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  margin-left: 30px;

  &:before {
    content: '';
    display: inline-block;
    size: 25px 15px;
    margin-right: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 25 14.7'%3E%3Cpath d='M25 8.4H3.4L8.1 13c0.4 0.4 0.4 1 0 1.4s-1 0.4-1.4 0L0.3 8.1c-0.4-0.4-0.4-1 0-1.4l6.4-6.4c0.4-0.4 1-0.4 1.4 0s0.4 1 0 1.4L3.4 6.4H25V8.4z'/%3E%3C/svg%3E");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }

}

.footer__next {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  margin-right: 30px;

  &:after {
    content: '';
    display: inline-block;
    size: 25px 15px;
    margin-left: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 25 14.7'%3E%3Cpath d='M25 8.4H3.4L8.1 13c0.4 0.4 0.4 1 0 1.4s-1 0.4-1.4 0L0.3 8.1c-0.4-0.4-0.4-1 0-1.4l6.4-6.4c0.4-0.4 1-0.4 1.4 0s0.4 1 0 1.4L3.4 6.4H25V8.4z'/%3E%3C/svg%3E");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(180deg);
  }

}*/
