body {
    position: fixed;

    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.square {
    position: absolute;
    top: 0;
    left: 0;

    width: 100px;
    height: 100px;

    background-color: dodgerblue;
    opacity: 0;
}
.fader {
    position: absolute;
}

.fader__group__text {
    fill: white;
    font: bold 3em 'Open Sans';
}

.scale {
    position: absolute;
    transform: rotate(184deg);
}

@media screen and (max-width: 2560px){
    .fader__group__rect {
        height: 12%;
        y: 25%;
    }
}
@media screen and (max-width: 2000px){
    .fader__group__rect {
        height: 10%;
        y: 28%;
    }
}
@media screen and (max-width: 1700px){
    .fader__group__rect {
        height: 8%;
        y: 30%;
    }
}
@media screen and (max-width: 1400px){
    .fader__group__rect {
        height: 8%;
        y: 32%;
    }
}
@media screen and (max-width: 1200px){
    .fader__group__rect {
        height: 7%;
        y: 33%;
    }
}
@media screen and (max-width: 1000px) {
    .fader__group__rect {
        height: 5%;
        y: 32%;
    }
}
@media screen and (max-width: 1000px) {
    .fader__group__rect {
        height: 6%;
        y: 35%;
    }
}
@media screen and (max-width: 700px) {
    .fader__group__rect {
        height: 5%;
        y: 37%;
    }
}
