.header__account-amount {
  width: 10.55vw;

  margin-right: 30px;

  @include setFont("Open Sans", 18px, #00B2E0, bold, 25px, center);
}


// твої стилі
/*.header__account-value {
  display: inline-block;
  text-align: center;
  min-width: 120px;

  font-weight: bold;
  font-size: 18px;
  color: var(--primary-theme-color);
}*/
