.button {
  size: 100% 50px;
  padding: $_ 10px;

  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF var(--primary-theme-color);
  text-transform: uppercase;

  border: 1px solid transparent;
  border-radius: 50px;
}

// Modifiers

.button {

  &--gray {
    color: var(--font-color) var(--light-gray-color);
  }

  &--auto {
    width: auto;
  }
}