.header__address {
  display: block;
  justify-self: flex-start;

  width: 22.1%;

  margin: 5px 20px 5px 30px;

  line-height: 16px;
}


// твої стилі
/*
.header__address {
  max-width: 220px;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #666666;
}*/
