$breadcrumb-gap : 15px;

.breadcrumb__item {
  display: inline-block;
  margin-right: $breadcrumb-gap;

  font-size: 18px;

  & + & {
    &:before {
      content: '/';
      margin-right: $breadcrumb-gap;
    }
  }
}