*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

button, button:active, button:focus {
  //font: inherit;  TODO check - коли нажимаєш на кнопку РЕДАГУВАТИ, то змінюється шрифт
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

p, span, img {
  pointer-events: none;
}

img {
  max-width: 100%;
  height: auto;
}