@mixin fluid-font-size($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;

      @media (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-value(calc(#{$max-font-size} - #{$min-font-size}))} * ((100vw - #{$min-vw}) / #{strip-value($max-vw - $min-vw)}));
      }

      @media (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

@mixin icon($name) {
  &:before {
    @extend .icon--#{$name};
    font-family: var(--fontfamily-icon);
  }
}

@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  & {
    @each $property in $properties {
      #{$property}: $min-value;
    }

    @media screen and (min-width: $min-vw) {
      @each $property in $properties {
        #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
    }

    @media screen and (min-width: $max-vw) {
      @each $property in $properties {
        #{$property}: $max-value;
      }
    }
  }
}


$sizes : (
  'small' : 576,
  'medium' : 768,
  'large' : 992,
  'huge'  : 1200,
  'x-huge'  : 1400,
);

@mixin _media($size) {
  $error : true;

  @each $sz, $px in $sizes {
    @if (str-index($size, $sz)) {
      $error : false;
      $cond : str-slice($size, 1, -1 * str-length($sz) - 1);
      $query : '';

      @if $cond == '>' {
        $px : $px + 1;
        $query : 'min-width';
      }

      @else if $cond == '>=' {
        $query : 'min-width';
      }

      @else if $cond  == '<' {
        $px : $px - 1;
        $query : 'max-width';
      }

      @else if $cond == '<=' {
        $query : 'max-width';
      }

      @else {
        @error 'Wrong condition';
      }

      @media screen and (#{$query}: #{$px}px) {
        @content;
      }
    }
  }

  @if $error {
    @error 'Wrong size';
  }
}

@mixin gg($part) {
  & {
    flex-basis: calc(100% * (#{$part} / 13) - 15px);

    &:after {
      content: '';
      display: block;
      padding-bottom: calc(100% / #{$part} - (#{$part - 1} * 15px / #{$part}));
    }
  }
}


@mixin keyGen() {
  @for $i from 1 through 13 {
    &--#{$i} {
      @include gg($i);
    }
  }
}

@mixin setFlex($flexDirection, $justifyContent: initial, $alignItems: initial, $flexWrap: nowrap) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: $flexWrap;
}

@mixin setFont($fontFamily, $fontSize:inherit, $color: inherit, $fontWeight: normal, $lineHeight: normal, $textAlign: left, $textTransform: none) {
  font: {
    family: $fontFamily, sans-serif;
    //size: $fontSize !important; TODO check чи у всіх ситуаціях підходить не important
    size: $fontSize;
    weight: $fontWeight;
  }
  line-height: $lineHeight;
  text-align: $textAlign;
  text-transform: $textTransform;
  color: $color;
}