:root {
  --light-gray-color: #f6f6f6;
  --medium-gray-color: #999999;
  --dark-gray-color: #666666;
  --black-color: #333333;

  --primary-theme-color: #00b2e0;
  --secondary-theme-color: #203152;
  --third-theme-color: var(--black-color);
  --success-color : #04e000;
  --error-color: #e00000;


  --font-color: var(--third-theme-color);
  --footer-bg-color: var(--primary-theme-color);

}

@media screen and (max-width: 660px){
  --light-gray-color: #ffffff;
}


// SASS variables

$_ : unquote('*'); // для возможности игнрировать * для плагина postcss-short