<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="stylesheets/adminStyle.css" type="text/css" />
</head>
<body>
    <a id="users">Users</a>
    <a id="apps">Apps</a>
    <a id="back" href="/">Go back</a>

    <form id="info"></form>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="javascripts/admin.js"></script>
</body>
</html>