<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="stylesheets/editStyle.css" type="text/css" />
    <link rel="stylesheet" href="stylesheets/general.css" type="text/css" />
    <style>
        #photo {
            position: relative;
            background: url({{imgSrc}}) center no-repeat;
            background-size: cover;
            margin: 5px;
        }
    </style>
</head>
<body>
    <form action="/uploadAvatar" method="post" enctype="multipart/form-data" id="photoForm">
        <div id="photo"></div>
        <a id="changePhoto">Choose a new file</a>
        <input type="file" accept="image/*" name="file" id="file" hidden="hidden" />
        <input type="submit" value="upload" id="upload" hidden="hidden" />
    </form>
    <form enctype="multipart/form-data" method="post" action="/updateInfo" id="infoForm">
        <table>
            <tr>
                <td><label for="login">Login: </label></td>
                <td>
                    <input type="text" id="login" name="login" disabled="disabled" value="{{login}}"/>
                </td>
            </tr>
            <tr>
                <td><label for="fullName">Full name: </label></td>
                <td><input type="text" id="fullName" name="fullName" autocomplete="off" value="{{fullName}}" /></td>
            </tr>
            <tr>
                <td><label for="nickname">Nickname: </label></td>
                <td><input type="text" id="nickname" name="nickname" autocomplete="off" value="{{nickname}}" /></td>
            </tr>
            <tr>
                <td><label for="email">Email: </label></td>
                <td><input type="email" id="email" name="email" autocomplete="off" value="{{email}}" /></td>
            </tr>
            <tr>
                <td><label for="phone">Phone number: </label></td>
                <td><input type="tel" id="phone" name="phone" autocomplete="off" value="{{phone}}" /></td>
            </tr>
            <tr>
                <td><label for="bio">BIO: </label></td>
                <td>
                    <input type="text" id="bio" name="bio" autocomplete="off" value="{{bio}}" />
                </td>
            </tr>
            <!--<tr>
                <td><label for="password">Password: </label></td>
                <td>
                    <input type="password" id="password" name="password" required="required"/>
                </td>
            </tr>
            <tr>
                <td><label for="password2">Duplicate password: </label></td>
                <td>
                    <input type="password" id="password2" name="password2" required="required"/>
                </td>
            </tr>-->
        </table>
        <a href="/main" id="back">Go back</a>
        <a  id="save">Save changes</a>
        <a href="/main" id="cancel">Cancel</a>

        <button type="submit" id="submit" hidden="hidden"></button>

        <p id="result">...Changes saved...</p>
    </form>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="javascripts/edit.js"></script>
    <script src="javascripts/general.js"></script>
</body>