<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="stylesheets/mainStyle.css" type="text/css" />
    <link rel="stylesheet" href="stylesheets/general.css" type="text/css" />
</head>
<body>
    <div id="header">
        <div id="user">
            <p id="nickname">{{nickname}}</p>
            <div id="userAvatar"></div>
            <a href="/myApps" id="myApps" >Apps</a>
            <a href="/edit" id="edit" >Edit</a>
            <a href="/exit" id="exit" >Exit</a>
        </div>
        <input type="text" id="search" placeholder="Search application..." autocomplete="off" />
        <button type="button" id="filter">No filters</button>
        <div id="filters">
            <a id="topUsers">Top users</a>
            <a id="topApps">Top apps</a>
            <a id="noFilters">No filters</a>
        </div>
    </div>
    <div id="mainContent">
        <div id="users"></div>
        <div id="apps"></div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/general.js"></script>
</body>
</html>