<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="stylesheets/menuStyle.css" type="text/css" />
    <link rel="stylesheet" href="stylesheets/general.css" type="text/css" />
</head>
<body>
<div id="container">
    <img src="images/ps4_joystick_black.png" id="joystick" alt="joystick">
    <div id="svgContainer"></div>
    <div id="textContainer">
        <p id="hoverText" class="wave"></p>
        <form id="singForm" method="post" action="/main">
            <label id="clickText" class="wave" for="login"></label>
            <input type="text" id="login" name="login" autocomplete="off" /> <br/>
            <label id="clickText2" class="wave" for="password"></label>
            <input type="password" id="password" name="password" autocomplete="off" />
        </form>
        <p id="tip" class="invisibleWave"></p>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="javascripts/menu.js"></script>
<script src="javascripts/general.js"></script>
</body>
</html>