<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="stylesheets/myAppsStyle.css" type="text/css" />
    <link rel="stylesheet" href="stylesheets/general.css" type="text/css" />
</head>
<body>

    <div id="container">
        <div id="appsList">
            <button type="button" id="addApp">+</button>
            <ul id="apps">
            </ul>
        </div>
        <div id="appDetails">
            <p></p>
            <form action="/uploadAppImage" method="post" enctype="multipart/form-data" id="appPhoto">
                <div id="appPicture"><img src="./images/appDefault.jpg" /></div>
                <a id="changePhoto">Change image</a>
                <a id="deletePhoto">Delete image</a>
                <input type="file" accept="image/*" name="file" id="file" hidden="hidden" />
                <input type="submit" value="upload" id="upload" hidden="hidden" />
                <input type="text" name="appName" id="appName" hidden="hidden" />
            </form>
            <form id="uploadFileForm" action="/uploadAppFile" method="post" enctype="multipart/form-data">
                <a id="changeFile">Upload file</a>
                <input type="file" name="file" id="file" hidden="hidden" />
                <input type="submit" id="upload" hidden="hidden" />
                <input type="text" name="appName" id="appName" hidden="hidden" />
            </form>
            <form enctype="multipart/form-data" method="post" action="/myApps" id="details">
                <table>
                    <tr>
                        <td><label for="name">App name: </label></td>
                        <td>
                            <input type="text" id="name" name="name" autocomplete="off" value="{{appName}}"/>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="description">Description: </label></td>
                        <td><textarea id="description" name="description" autocomplete="off"></textarea></td>
                    </tr>
                    <tr>
                        <td><label for="link">File for download: </label></td>
                        <td><input type="text" id="link" name="link" disabled="disabled"/></td>
                    </tr>
                    <tr>
                        <td><label for="likes">Likes: </label></td>
                        <td><input type="number" id="likes" name="likes" disabled="disabled" /></td>
                    </tr>
                    <tr>
                        <td><label for="downloads">Downloads: </label></td>
                        <td><input type="number" id="downloads" name="downloads" disabled="disabled" /></td>
                    </tr>
                </table>
                <p id="result"></p>

                <a href="/main" id="back">Go back</a>
                <a id="save">Save changes</a>
                <a id="delete">Delete</a>

                <button type="submit" id="submit" hidden="hidden"></button>
            </form>

        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="javascripts/myApps.js"></script>
    <script src="javascripts/general.js"></script>
</body>
</html>