<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="/stylesheets/qustionnaireStyle.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/general.css" type="text/css" />
</head>
<body>
    <form id="questionnaireForm" method="post" action="/main">
        <label for="fullName" id="fullNameLabel">My full name is </label>
        <input type="text" name="fullName" id="fullName" autocomplete="off" /> <br/>
        <label for="nickname" id="nicknameLabel">My nickname is </label>
        <input type="text" name="nickname" id="nickname" autocomplete="off" maxlength="25" /> <br/>
        <!--<label for="status" id="statusLabel">I'm a </label>
        <input type="text" id="status" name="status" />
        <input type="radio" id="developer" name="status" />
        <input type="radio" id="user" name="status" /> <br/>-->
        <label for="email" id="emailLabel">My email </label>
        <input type="email" name="email" id="email" autocomplete="off" /> <br/>
        <label for="phone" id="phoneLabel">My phone number </label>
        <input type="tel" name="phone" id="phone" autocomplete="off" /> <br/>
        <label for="bio" id="bioLabel">BIO </label>
        <input type="text" maxlength="250" name="bio" id="bio" autocomplete="off" />
        <button type="submit" id="submit">Continue</button>
    </form>

    <p id="tip"></p>
    <p hidden="hidden" id="login">{{login}}</p>

    <img src="/images/Skip.png" alt="skip" id="skip" /> <span>skip</span>
    <img src="/images/Enter.png" alt="next" id="next" /> <span>next</span>
    <img src="/images/Back.png" alt="previous" id="previous" /> <span>previous</span>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/javascripts/questionnarie.js"></script>
    <script src="javascripts/general.js"></script>
</body>
</html>