.row {
  display: flex;
  flex-flow: row wrap;
}

$columns : (
        1 : one,
        2 : two,
        3 : three,
        4 : four,
        5 : five,
        6 : six,
        7 : seven,
        8 : eight,
        9 : nine,
        10 : ten,
        11 : eleven,
        12 : twelve,
);

@mixin columns($margin-left : 0) {

  .column,
  .column-auto,
  .columns {
    width: 100%;
    margin-left: $margin-left;

    &:first-child {
      margin-left: 0;
    }
  }

  .column-auto {
    width: auto;
  }

  @each $number, $key in $columns {
    $selector : #{$key}-columns;

    @if $number == 1 {
      $selector : #{$key}-column;
    }

    @if $number == length($columns) {
      $margin-left : 0;
    }

    .#{$selector} {
      flex: 0 0 auto;
      $w : $number / length($columns) * 100%;
      width: calc(#{$w} - #{$margin-left});
    }
  }
}

@include columns(20px);