$margins :
    (
      mt : (0),
      mr : (0),
      mb : (50px, 40px, 20px),
      ml : (0),
      mx : (0),
      my : (0),
      m : (0)
    );


@each $m, $values in $margins {

  @each $val in $values {
    .u-#{$m}-#{$val} {
      @if ($m == mt) {
        margin-top: $val !important;
      } @else if ($m == mr) {
        margin-right: $val !important;
      } @else if ($m == mb) {
        margin-bottom: $val !important;
      } @else if ($m == ml) {
        margin-left: $val !important;
      } @else if ($m == mx) {
        margin: $_ $val !important;
      } @else if ($m == my) {
        margin: $val $_ !important;
      } @else if ($m == m) {
        margin: $val !important;
      }
    }
  }
}