.u-overflowed {
  overflow: hidden !important;
}

.u-d-none {
  display: none !important;
}

.u-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
  white-space: nowrap;
  clip-path: inset(50%);
}

.u-size-s {
  width: 30vw;
  height: 15.3vh;
}
.u-size-m {
  width: 30vw;
  height: 21.6vh;
}
.u-size-l {
  width: 38.1vw;
  height: 21.6vh;
}

.u-indent-s {
  margin-top: 5px !important;
}
.u-indent-m {
  margin-top: 20px !important;
}
.u-indent-l {
  margin-top: 30px !important;
}
.u-indent-xl {
  margin-top: 50px !important;
}

/*
.display-none {
  display: none;
}*/
