$paddings :
        (
            pt : (0),
            pr : (0),
            pb : (0),
            pl : (0),
            px : (0),
            py : (0),
            p : (0)
        );


@each $p, $values in $paddings {

  @each $val in $values {
    .u-#{$p}-#{$val} {
      @if ($p == pt) {
        padding-top: $val !important;
      } @else if ($p == pr) {
        padding-right: $val !important;
      } @else if ($p == pb) {
        padding-bottom: $val !important;
      } @else if ($p == pl) {
        padding-left: $val !important;
      } @else if ($p == px) {
        padding: $_ $val !important;
      } @else if ($p == py) {
        padding: $val $_ !important;
      } @else if ($p == p) {
        padding: $val !important;
      }
    }
  }
}