.u-text {
  font-size: 20px / 1.35;
  color: var(--medium-gray-color);
  margin-bottom: 5px;
}

.u-text-bold {
  font-weight: bold !important;
}

.u-text-bigger {
  font-size: 24px !important;
}

.u-text-big {
  font-size: 22px !important;
}

.u-text-small {
  font-size: 18px !important;
}

.u-text-smaller {
  font-size: 16px !important;
}

.u-text-center {
  text-align: center !important;
}

.u-primary-color {
  color: var(--primary-theme-color) !important;
}