.header {
  @include setFlex(row, center, center);

  width: 100%;
  height: 6.36vh;

  @include setFont("Open Sans", 12px, #666);
}


// твої стилі
/*
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  padding: 5px 30px;

  background-color: #fff;
}*/
