<p class="header__address">№140103, м. Запоріжжя, вул. Сергія Синенка, 12 А</p>
<div class="header__contacts">
    <p class="header__contacts__title">Телефони гарячої лінії:</p>
    <p class="header__contacts__phone">(066) 470 - 05 - 05</p>
    <p class="header__contacts__phone">(097) 470 - 05 - 05</p>
    <p class="header__contacts__phone">(073) 470 - 05 - 05</p>
</div>
<div class="header__account">
    <p class="header__account__title">Рахунок:</p>
    <p class="header__account__amount">0,00 грн</p>
</div>