.page {
  position: relative;

  height: 100%;
  overflow: hidden;
  box-sizing: border-box;

  font-family: 'Open Sans', sans-serif;
  font-size: 12px / 1.5;
  color: #333333 #e7e7e7;

  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  @supports (-webkit-overflow-scrolling: touch) {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }

  @include _media(">=small") {
    font-size: 14px;
  }

  @include _media(">=medium") {
    font-size: 16px;
  }

  @include _media(">=huge") {
    font-size: 18px;
  }
}

// Scrollbars
.page {
  // -- Firefox
  scrollbar-color: var(--scrollbar-color) rgba(0, 0, 0, 0.1);
  scrollbar-width: thin;
  // -- end Firefox

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    outline: 1px solid slategrey;
    background-color: var(--scrollbar-color);
  }
}

@import "page__body";