.page__body {
  position: fixed 0 0 0 0;
  overscroll-behavior-y: contain;


  height: 100%;
  overflow: hidden;
  //background-color: #e5e5e5;
  background-color: white;
  touch-action: manipulation;

  @include _media('>=small') {
    position: static;
  }
}

.page__body {
  &.modal-open,
  &.modal-open header {
    overflow: hidden;

    @include _media('>=small') {
      padding-right: 8px !important;
    }
  }
}