.input__field {
  display: block;
  size: 100% 60px;
  padding: $_ 15px;

  outline: none;
  border: 2px solid #999999;
  border-radius: 15px;

  font-size: 30px;
  font-weight: 500;

  &:hover,
  &:focus {
    border-color: #00B2E0;
  }
}

// Modifiers

.input__field {

  &--success {
    border-color: #09e105 !important;
  }

  &--error {
    border-color: #e21010 !important;
  }

}