.input__reset {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  size: 60px;
  border: 2px solid #fe4848;
  color: #fe4848;
  background: #fe4848;
  margin-left: 20px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 400;
  opacity: 0.7;

  &:active {
    opacity: 1;
  }
}

.input__reset svg {
  size: 25px;
  fill: #ffffff;
}