body {
    position: fixed;
    margin: 0;
    padding: 0;

    width: 100%;
}
button {
    border: none;
    outline: none;
    background: transparent;

    text-transform: uppercase;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 6.36vh;

    font-family: "Open Sans";
    font-size: 12px;
    color: #666;
}
.header__address {
    display: block;
    justify-self: flex-start;

    width: 22.1%;

    margin: 5px 20px 5px 30px;

    line-height: 16px;
}
.header__contacts {
    display: flex;
    flex-direction: row;
}
.header__contacts__title {
    margin: auto 5px auto 10px;

    color: #00B2E0;
}
.header__contacts__phone {
    margin: auto 5px;
}
.header__account {
    display: flex;
    flex-direction: row;

    margin-left: 42px;
}
.header__account__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    color: #333;
}
.header__account__amount {
    width: 10.55vw;

    margin-right: 30px;

    font-family: "Open Sans Bold";
    font-size: 18px;
    color: #00B2E0;
    line-height: 25px;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__path {
    margin-top: 20px;
    height: 30px;

    font-family: "Open Sans";
    font-size: 18px;
    line-height: 25px;
    color: #999;
    text-align: center;
}
.main__question, .main__title {
    width: 94vw;
    height: 50px;

    margin-top: 60px;

    font-family: "Open Sans Bold";
    font-size: 28px;
    line-height: 38px;
    color: #999;
    text-align: center;
}
.main__answers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.main__answers__answer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 10px;

    height: 21.6vh;

    text-align: center;
    border: 1.5px solid rgba(51, 51, 51, 0.5);
}
.main__answers__answer__text {
    width: 86%;

    margin-bottom: 3px;

    font-family: "Open Sans";
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
}
.main__answers__answer__addition {
    width: 75%;

    margin-top: 0;

    font-family: "Open Sans";
    font-size: 16px;
}
.main__info {
    display: flex;
    flex-direction: column;

    width: 94vw;

    margin-top: 55px;

    background-color: #F6F6F6;
}
.main__info__row {
    display: flex;
    flex-direction: row;

    margin-bottom: 25px;
}
.main__info__row:nth-child(1) {
    margin-top: 20px;
}
.main__info__question {
    flex: 1.5;

    margin: auto 33px auto 30px;

    font-family: "Open Sans";
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    color: #333;
}
.main__info__answer {
    flex: 2;

    font-family: "Open Sans";
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    color: #666;
}
.main__info__edit {
    flex: 1;

    font-family: "Open Sans";
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    color: #00B2E0;
}
.main__title {
    margin: 90px auto 20px;
}
.main__subtitle {
    margin: 0 auto;

    font-family: "Open Sans";
    font-size: 22px;
    line-height: 30px;
    color: #999;
}
.main__options {
    position: fixed;
    bottom: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 58vh;
}
.main__options__option {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    flex: 1;
    height: 100%;

    margin: -1px;
}
.main__options__option__image {
    margin-top: 110px;
}
.main__options__option__text {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.payment {
    background-color: #00B2E0;
}
.equery {
    background-color: #203152;
}
.mobile {
    background-color: #333;
}
.addservices {
    background-color: #222;
}

.size-s > * {
    width: 30vw;
    height: 15.3vh;
}
.size-m > * {
    width: 30vw;
}
.size-l > *{
    width: 38.1vw;
}
.indent-s {
    margin-top: 25px;
}
.indent-l {
    margin-top: 70px;
}


.footer {
    display: flex;
    flex-direction: row;

    position: fixed;
    bottom: 0;

    width: 100%;
    height: 8.9vh;
}
.footer > button {
    font-family: "Open Sans";
    font-size: 25px;
    line-height: 34px;
    color: #fff;
}
.footer__back {
    flex: 1;
    height: 100%;

    background: #00B2E0 url("./images/backArrow.png") no-repeat 12.1% 50%;
    background-size: 10%;
}
.footer__main {
    flex: 3;
    height: 100%;

    background-color: #333;
}
.footer__next {
    flex: 1;
    height: 100%;

    background: #00B2E0 url("./images/nextArrow.png") no-repeat 87.9% 50%;
    background-size: 10%;
}

@media screen and (min-width: 1200px) {
    .header__address {
        width: 25%;
    }
}

@font-face {
    font-family: "Open Sans";
    src: url("./fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "Open Sans Bold";
    src: url("./fonts/OpenSans-Bold.ttf");
}
