.key {
  position: relative;

  min-width: 40px;
  min-height: 40px;
  margin: $_ 15px 15px $_;

  font: inherit;

  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.25),
              -4px -4px 6px 0 rgba(255, 255, 255, 0.4);
  outline: none;

  transition: 0.3s;

  @include gg(1);

  &:active {
    color: #00B2E0;

    background-color: white;
    box-shadow: 6px 6px 10px 0 rgba(0, 178, 224, 0.4) inset,
    -6px -6px 10px 0 rgba(255, 255, 255, 0.5) inset;

    svg {
      fill: #00B2E0;
    }
  }

  &:last-of-type {
    margin-right: 0;
  }
}

// Modifiers

.key {

  @include keyGen();

  &--flat {
    border-radius: 0;
    @include gg(3);

  }
}