body {
    font-size: 20px;
}
a {
    text-decoration: none;
    color: black;
}
table, thead, td {
    border-collapse: collapse;
    border: 1px solid black;
}
table {
    width: 98%;
}
thead {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
td {
    font-size: 16px;
    padding: 5px;
}
input {
    border: none;
    margin: 0;
    padding: 0;
    width: max-content;
}
img {
    width: 18px;
}
#tick {
    width: 17px;
}

#users, #apps, #back {
    position: relative;
    top: 20px;

    padding: 5px 10px 8px;
    margin: 20px 15px;

    border-bottom: 1px solid deepskyblue;
}
#back {
    left: 78%;
}
#users:hover, #apps:hover, #edit:hover, #delete:hover {
    cursor: pointer;
}
#info {
    position: relative;
    top: 50px;
}
#images {
    padding-left: 10px;
}
#likes, #apps {
    width: 50px;
}

.selected {
    background-color: #00bfff50;
    border-radius: 5px;
}