body {
    background-color: #1e1e1e;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
body, input, a, button {
    color: deepskyblue;
    font-family: Playstation;
    font-size: 25px;
}
a {
    text-decoration: none;
    background-color: transparent;
}
input, a, button {
    border: none;
    outline: none;
    border-bottom: 1px solid deepskyblue;
    background-color: transparent;
}
input {
    padding-bottom: 5px;
}

#photoForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 40%;
    height: 80%;
}
#changePhoto {
    margin: 10px;
}

#infoForm {
    width: 60%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5%;

    border-left: 1px solid #3c3f41;
}
tr, td {
    margin: 10px;
    padding: 10px;
}
#save, #cancel, #back {
    position: absolute;
    padding: 5px 10px;
    text-align: center;
}
#result {
    position: absolute;
    display: none;
}
