body {
    background-color: #1e1e1e;
}
button:active, button:focus {
    outline: none;
}

div.clickEffect{
    position: fixed;
    box-sizing: border-box;
    border: 1px solid deepskyblue;
    border-radius: 50%;
    animation: clickEffect 0.4s ease-out;
    z-index: 2;
}

@keyframes changeAlpha {
    50% {
        color: rgba(51, 153, 255, .2);
    }
}

@keyframes clickEffect{
    0% {
        opacity: 1;
        width: 0.5rem;
        height: 0.5rem;
        margin: -0.25rem;
        border-width: 0.5rem;
    }
    100% {
        opacity: 0.2;
        width: 4rem;
        height: 4rem;
        margin: -2rem;
        border-width: 0.02rem;
    }
}

@keyframes changeOpacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@font-face {
    font-family: Playstation;
    src: url("../fonts/playstation.ttf");
}