body {
    background-color: #1e1e1e;
    color: white;
    overflow: hidden;
}
body, input, button {
    font-family: Playstation;
    color: deepskyblue;
}
#user > a, #filters > a {
    display: none;

    position: absolute;
    padding: 0.32em 1em;

    text-decoration: none;
    text-align: center;
    color: white;
    background-color: transparent;
    border-radius: 3px;
    box-shadow: 1px 1px 2px deepskyblue, 1px -1px 2px deepskyblue, -1px 1px 2px deepskyblue, -1px -1px 2px deepskyblue;

    transform: scale(0);
}
#user > a:hover, #filters > a:hover {
   background-color: #ffffff20;
}
button {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #77b4db;
    color: deepskyblue;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;

    background: linear-gradient(#227ba222, #215b7722, #1d3d4e22, #14212922, #1e1e1e22);
    border-bottom: 1px solid #3c3f41;
}
#user, #search, #filter {
    margin-left: 5%;
    margin-right: 5%;
}
#user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#search {
    padding-left: 5px;

    background-color: transparent;
    border: 1px solid #77b4db;
    border-radius: 5px;
}
#userAvatar {
    position: relative;
    margin: 0 10px;

    background: #1e1e1e url("../images/avatarDefault.jpeg") center;
    background-size: cover;

    border-radius: 50%;
    box-shadow: 1px 1px .5px #77b4db, 1px -1px .5px #77b4db, -1px 1px .5px #77b4db, -1px -1px .5px #77b4db;
}

#mainContent {
    display: flex;
    flex-direction: row;

    position: absolute;
    bottom: 5%;
    left: 10%;

    width: 80%;
    height: 80%;
}
#users {
    width: 25%;
    height: 100%;

    overflow: scroll;
}
#users > * {
    display: flex;
    flex-direction: row;

    width: 90%;
    height: 31.5%;
    margin: 2.5% 5%;
}
#users #photo {
    width: 60%;
    height: 80%;
    margin-top: 8%;
}
div#users div#info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 40%;
    height: 80%;
    margin-top: 8%;

    text-align: center;
    color: lightgray;
}
#users #info > p {
    margin: 5%;
}

#apps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    width: 75%;
    height: 100%;

    border-left: 1px solid #3c3f41;

    overflow: scroll;
}
#apps > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 40%;
    height: 100%;
    margin: 0 4%;

    font-size: 1.5em;
    text-align: center;
}
#apps #picture {
    width: 100%;
    height: 30%;
}
#apps a {
    position: relative;
    bottom: 0;
}
#like {
    margin-bottom: 10px;
}
#apps #like, #apps #download {
    position: relative;
    padding: 2.5% 5%;

    width: 25%;

    text-decoration: none;
    color: white;
    text-align: center;
    background-color: transparent;
    border-radius: 3px;
    box-shadow: 1px 1px 2px deepskyblue, 1px -1px 2px deepskyblue, -1px 1px 2px deepskyblue, -1px -1px 2px deepskyblue;
}

@keyframes scaleToOne {
    100% {
        transform: scale(1);
    }
}
@keyframes scaleToZero {
    100% {
        transform: scale(0);
    }
}

::-webkit-scrollbar {
    display: none;
}

.liked {
    background-color: deepskyblue !important;
    color: white;
    text-shadow: 1px 1px 2px darkblue;
}
.selectedUser > #photo {
    box-shadow: 1px 1px 4px deepskyblue;
}
.selectedUser > #info > p {
    color: deepskyblue;
    text-shadow: 2px 2px 2px black, 0 0 5px #77b4db;
}