body, input {
    //background: #1e1e1e radial-gradient(#090979, #020024);
    //background-size: 100%;
    background-color: #1e1e1e;
    font-family: Playstation, "Times New Roman";
    color: deepskyblue;
}
input {
    background-color: transparent;
    border: none;
    outline: none;
}
circle {
    opacity: 0;
}

#container {
    position: relative;
}
#joystick {
    width: inherit;
}
#svgContainer {
    position: absolute;
    z-index: 10;
}
#textContainer {
    position: absolute;
}
#hoverText {
    margin: 0;
    text-align: center;
    text-shadow: #033da0 0 0 5px;
}
#login, #password {
    outline: none;
    padding-top: 10px;
    display: none;
}
#clickText2 {
    padding-left: 10px;
}
#tip {
    position: absolute;
    bottom: 0;
    margin: 0;
    text-align: center;
    visibility: hidden;
}
#svg2 {
    position: absolute;
}
#svg2 > circle {
    display: none;
}

.wave {
    color: #3399ff;
    animation: 0.7s changeColor infinite;
}
.invisibleWave {
    color: rgba(51, 153, 255, .8);
    animation: 1.5s changeAlpha infinite;
}
.invisibleButton {
    opacity: 1;
    animation: 1.5s changeOpacity infinite;
}

@keyframes changeColor {
    50% {
        color: deepskyblue;
    }
}
@keyframes changeOpacity {
    50% {
        opacity: .1;
    }
}