body {
    overflow: hidden;
    font-family: Playstation;
}
input, label, a, li, textarea {
    color: deepskyblue;
    margin-left: 10px;
    padding: 5px;
    font-family: Playstation;
}
input, textarea {
    outline: none;
    border: none;
    background-color: transparent;

    border-bottom: 1px solid deepskyblue;
}
textarea {
    resize: none;
    display: inline-block;
    vertical-align: bottom;
}
ul {
    width: 70%;
}
li {
    list-style-type: none;
    padding: 15px 10px 12px;
    margin: 0;
    color: deepskyblue;
    border-bottom: 1px solid deepskyblue;
}
li:hover {
    background-color: deepskyblue;
    color: white;
    text-shadow: 1px 1px 2px darkblue;
}
table {
    margin-bottom: 30px;
}
a {
    text-decoration: none;
}

#container {
    display: flex;
    flex-direction: row;

    margin: 0;
}
#appsList, #appDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow-y: scroll;
}
#appsList {
    align-items: flex-end;

    width: 30%;
    height: 100%;
}
#addApp {
    position: relative;
    right: 33%;

    border: none;
    font-size: 2em;

    color: deepskyblue;
    background-color: transparent;
    font-family: Playstation;
}

#appDetails {
    align-items: center;

    width: 70%;
    height: 100%;

    padding-top: 20px;
}
#appPhoto {
    margin-top: 20px;
    text-align: center;
}
#appPicture {
    margin-top: 25px;
}
#appPicture > img {
    margin-top: 20px;
    position: relative;
}
#changePhoto, #deletePhoto {
    border-bottom: 1px solid deepskyblue;
}

#details {
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: center;
}
#result {
    display: none;
    position: absolute;
    right: 10px;
    bottom: 10px;

    font-size: .6em;
    color: deepskyblue;
}
#back, #save, #delete, #add {
    padding-bottom: 10px;
    margin: 20px;

    border-bottom: 1px solid deepskyblue;
}
#uploadFileForm {
    //position: absolute;
    text-align: center;
    margin-top: 20px;
    padding: 0 10px 5px 0;
    //top: -31%;
    //left: 0;
    border-bottom: 1px solid deepskyblue;
}
#tip {
    color: deepskyblue;
}

::-webkit-scrollbar {
    display: none;
}

.selected {
    background-color: deepskyblue;
    color: white;
    text-shadow: 1px 1px 2px darkblue;
    border-bottom: 2px solid lightskyblue;
}