body {
    background: #1e1e1e;
    overflow: hidden;
}
body, input, button {
    color: deepskyblue;
    font-family: Playstation;
}
input, label {
    position: absolute;
    opacity: 0;
}
input {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #91e3ff90;
}
label {
    display: block;
}
span {
    position: absolute;
    opacity: 1;
    visibility: hidden;
    color: white;
    text-shadow: 1px 1px 1px black, 2px 2px 3px deepskyblue;
}

#container {
    position: absolute;
    border: 1px solid white;
}
#skip, #next, #previous {
    position: absolute;

    visibility: hidden;
}
#skip:hover, #next:hover, #previous:hover {
    border-radius: 24px;
    background-color: deepskyblue;
    opacity: 1 !important;
}
#skip:hover + span, #next:hover + span, #previous:hover + span {
    opacity: 1 !important;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}
#tip {
    position: absolute;
    opacity: 0;
    letter-spacing: 1px;
    text-align: center;
}
#submit {
    position: absolute;
    display: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid deepskyblue;
    padding: 5px 10px;
}
#submit:hover {
    border-radius: 5px;
    box-shadow: 1px 1px 3px deepskyblue, -1px -1px 3px deepskyblue, 1px -1px 3px deepskyblue, -1px 1px 3px deepskyblue;
}

@keyframes increasing {
    0% {
        width: 0;
        visibility: visible;
        opacity: 0;
    }
    100% {
        width: 3.58%;
        visibility: visible;
        opacity: .7;
    }
}
@keyframes textFading {
    100% {
        opacity: 0.2;
        visibility: visible;
    }
}
@keyframes wave {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}