.horizontal-scroller {
  white-space: nowrap;
  overflow-x: auto;
  width: 100%;
  max-width: 100%;


  &::-webkit-scrollbar {
    height: 5px;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(204, 204, 204, 0.5);
    border-radius: 30px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--primary-theme-color);
  }

  scrollbar-color: var(--primary-theme-color) rgba(0, 0, 0, 0.1);
  scrollbar-height: thin;

}

.vertical-scroller {
  overflow-y: auto;
}